<div *ngIf="student" [ngStyle]="{'background-color': bgColor }" 
    style="height :550px; padding-left: 15px; border: 2px solid black; border-radius: 10px; display: flex; flex-direction: column; justify-content: space-evenly;">

    <h4 style="align-self: center;">{{student.nome + " " + student.cognome + " (" + student.eta + ")"}}</h4>
    <p>
        <span *ngIf="student.genere === 'M'; else womanTemplate">
            <i class=" fa-solid fa-mars" ></i>uomo
        </span>
        <ng-template #womanTemplate>
            <i class=" fa-solid fa-venus" ></i>donna
        </ng-template>
    </p>
    <p>{{student.citta}}</p>
    <h5>hobbies</h5>
        <app-hobby  *ngFor="let hobby of student.hobbies" [hobby]="hobby"></app-hobby>
    <h5>lingue</h5>
        <app-language *ngFor="let lang of student.lingue" [lang]="lang"></app-language>
    <h5>animali domestici? 
        <span *ngIf="student.hasPets; else noPetsTemplate">
            <i class="fa-solid fa-check" style="color: green"></i>
        </span>
        <ng-template #noPetsTemplate>
            <i class="fa-solid fa-xmark" style="color:red"></i>
        </ng-template>
    </h5>
</div>
