<mat-sidenav-container class="w-100">

    <mat-sidenav #sidenav mode="over" class="p-3" style="width: 400px">
        <app-student-form 
            [student]="selectedStudent" 
            (editStudent)="handleEditStudent($event); sidenav.close()" 
            (addStudent)="addStudent($event); sidenav.close()"
        ></app-student-form>
    </mat-sidenav>

    <mat-sidenav-content class="p-3 bg-dark d-flex flex-column">
        <h1 [innerText]="title" style="display: block; margin-bottom: 2rem; color: white; align-self: center; margin-top: 20px;"></h1>
        <button type="button" (click)="sidenav.open()" style="width: fit-content; margin: 30px;">ADD STUDENT</button>
        <div style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 20px; padding: 0px 20px;">
            <app-student 
                *ngFor="let student of students; let odd = odd; let even = even; let index= index" 
                [student]="student"
                [bgColor]="odd? 'hotpink' : 'orange'" 
                (editStudent)="editStudent(student); sidenav.open()"
            ></app-student>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>