<div class="d-flex flex-column" *ngIf="student">
    <h4 *ngIf="mode ==='edit'; else addStudentTemplate">Modifica studente {{student.nome + ' ' + student.cognome}}</h4>
    <ng-template #addStudentTemplate>
        <h4>Aggiungi nuovo studente</h4>
    </ng-template>

    <br />
    <div class="d-flex flex-column mb-3">
        <p>Nome e Cognome</p>
        <input type="text" matInput [(ngModel)]="student.nome" placeholder="Nome" />
        <input type="text" matInput [(ngModel)]="student.cognome" placeholder="Cognome" />
    </div>
    <div class="row">
        <div class="col-6 d-flex flex-column mb-3">
            <p>Età</p>
            <input type="number" matInput [(ngModel)]="student.eta" min="19" max="99" />
        </div>
        <div class="col-6 d-flex flex-column mb-3">
            <p>Genere</p>
            <mat-select [(ngModel)]="student.genere" placeholder="seleziona">
                <mat-option *ngFor="let gender of genderOptions" [value]="gender">{{gender}}</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="mb-3">
        <p>Città</p>
        <input type="text" matInput [(ngModel)]="student.citta" placeholder="Città" />
    </div>
    <p>Animali domestici?<mat-checkbox [(ngModel)]="student.hasPets"></mat-checkbox></p>
    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <p>Hobbies</p>
            <button type="button" mat-stroked-button color="primary" (click)="addHobby()"><i class="fa-solid fa-plus"></i> add hobby</button>
        </div>
        <div *ngFor="let hobby of student.hobbies; let index= index" class="d-flex flex-column">
            <input type="text" matInput [(ngModel)]="student.hobbies[index].name" placeholder="Nome" />
            <input type="text" matInput [(ngModel)]="student.hobbies[index].icon" placeholder="Icona" />
        </div>
    </div>
    <div class="mb-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <p>Lingue</p>
            <button type="button" mat-stroked-button color="primary" (click)="addLanguage()"> <i class="fa-solid fa-plus"></i>add hobby</button>
        </div>
        <div *ngFor="let lang of student.lingue; let index= index" class="d-flex flex-column">
            <input type="text" matInput [(ngModel)]="student.lingue[index].name" placeholder="Nome" />
            <input type="text" matInput [(ngModel)]="student.lingue[index].icon" placeholder="Icona" />
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button type="button" mat-stroked-button color="primary" (click)="saveChanges()">SAVE</button>
    </div>
</div>